/* --------------------------------------------
Global
-------------------------------------------- */
.custom-height {
  height: 100%;
}
.main-background-img {
  background: url(https://images.unsplash.com/photo-1437422061949-f6efbde0a471?auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  font-family: Lato;
  color: #fff;
}
#content {
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 6px rgba(0,0,0,0.4),
               0px 3px 18px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.main-content-styling {
  font-weight: bold;
  font-size: 4.2rem;
}
.secondary-styling {
  font-weight: 300;
}
/* .main-content-styling, .secondary-styling {
  top: ;
} */

hr {
  max-width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}


/* --------------------------------------------
Images
-------------------------------------------- */

/* ------ Fixes image spill ------ */
.thumbnail img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 4px 11px #6e6e6e;
}

/* --------------------------------------------
Navbar
-------------------------------------------- */

.navbar {
    margin-bottom: 20px;
}
/* push main content down due to .fixed-top navbar */
body {
  padding-top: 70px;
}

/* --------------------------------------------
Misc
-------------------------------------------- */

.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;
}
.navbar-dark {
  background: #2c3e50;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
