.pink {
  background: pink;
  border: 1px solid purple;
}
.orange {
  background: orange;
  border: 1px dashed red;
}
.blue {
  background: blue;
  border: 1px solid darkblue;
  width: 50px;
  height: 50px;
}
